DATABASE_URL="postgresql://postgres:postgres@localhost:5432/fatec_financas?schema=public"
APP_BASE_URL="http://localhost:3000"
APP_USER_ID="mock-user"
EMAIL_FROM="no-reply@seu-dominio.com"
RESEND_API_KEY=""
